---
---

@use 'abstracts' as *;
@use 'base' as *;
@use 'components' as *;
@use 'layout' as *;
@use 'pages' as *;




#icps-logo {
    max-width: 100%;
    width: 1000px;
}



.who-when-where {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    &:first-of-type{
         margin-top: -10vh;
    }   
}






