---

layout: transparent

---
<div class="container">
<div class="fixed-fullscreen" style="background-image: url(img/background.svg), url(img/background_overlay.png); background-repeat: no-repeat; background-size: cover;  background-blend-mode: color, normal; "></div>
<div class="fullscreen flex flex-column justify-content-center align-items-center">
	<!--<img id="icps-logo" src="img/logo_w_anim.svg" style="animation: fadeIn 1.3s cubic-bezier(.28,-0.01,0,.99); ">-->
	<h1 class="text-white text-shadow site-title">ICPS 2025</h1>
	<h1 class="text-white text-shadow site-location">Switzerland</h1>
	<h1 class="text-white text-shadow site-date">August 2025</h1>
</div>

</div>

</div>
<div class="container-smaller" >
	{% for row in site.data.home.rows%}
	<div class="who-when-where">
	{% for card in row.cards %}
	<div class="card">
		<div class="card-header">
			{{card.title}}
		</div>
		<div class="card-body">
			{{card.content}}

		</div>
	</div>
	{% endfor %}
	</div>
	{% endfor %}

	</div>
</div>



