.site-title{
    animation: fadeInTranslate1 1.3s;
    font-size: clamp(5vw, 10rem, 15vw);
    margin: 0;
}

.site-location{
    animation: fadeInTranslate1 1.4s;
    font-size: clamp(3vw, 5rem, 10vw);
    margin: 0
}

.site-date{
    animation: fadeInTranslate2 1.5s;
    margin: 0;
    font-size: clamp(2vw, 3rem, 7vw);
    font-weight: 400;
}